@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

/* These items are added by me */

h1 {
    font-size: 20px;
    margin-top: 8px;
}

h2 {
    font-size: 19px;
    margin-top: 6px
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 17px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 15px;
}

button.menutitle {
    position: absolute;
    left: var(--leftpos);
    top: var(--toppos);
    width: var(--width);
    height: var(--height);
    background-color: transparent;
    color: white;
    border-style: none;
    border-radius: 0px;
    box-shadow: none;
    outline: none;
    vertical-align: top;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 2px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    user-select: none;
}

button:hover.menutitle {
    background-color: transparent;
    color: white;
    border-style: none;
    box-shadow: none;
    outline: none;
}

button:focus.menuitem {
    background-color: transparent;
    color: white;
    border-style: none;
    box-shadow: none;
    outline: none;
}

button:active.menuitem {
    background-color: transparent;
    color: white;
    border-style: none;
    box-shadow: none;
    outline: none;
}

button.menuitem {
    position: absolute;
    left: var(--leftpos);
    top: var(--toppos);
    width: var(--width);
    height: var(--height);
    background-color: var(--bgcolor);
    color: var(--color);
    border-style: none;
    border-radius: 4px;
    box-shadow: none;
    outline: none;
    vertical-align: top;
    padding-left: 16px;
    padding-top: 2px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    transition-property: color, background-color;
    transition-duration: 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-delay: 0s, 0s;
    user-select: none;
}

button:hover.menuitem {
    background-color: rgba(255, 255, 255, 0.15);
    color: white;
    border-style: none;
    box-shadow: none;
    outline: none;
}

button:focus.menuitem {
    border-style: none;
    box-shadow: none;
    outline: none;
}

button:active.menuitem {
    border-style: none;
    box-shadow: none;
    outline: none;
}

span.oistyle {
    position: relative;
    top: 0px;
    width: 27px;
    font-size: 18px;
    text-align: left;
    vertical-align: top;
}

.spinner {
    border: 16px solid silver;
    border-top: 16px solid #337AB7;
    border-radius: 50%;
    position: absolute;
    left: 550px;
    top: 450px;
    width: 80px;
    height: 80px;
    animation: spin 700ms linear infinite;
    user-select: none;
}

.spinnerinline {
    box-sizing: border-box;
    border-width: var(--borderwidth);
    border-style: solid;
    border-color: silver;
    border-top-width: var(--borderwidth);
    border-top-style: solid;
    border-top-color: #337AB7;
    border-radius: 50%;
    width: var(--width);
    height: var(--height);
    animation: spin 700ms linear infinite;
    user-select: none;
}

.spinnerabs {
    box-sizing: border-box;
    border-width: 5px;
    border-style: solid;
    border-color: silver;
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: #337AB7;
    border-radius: 50%;
    position: absolute;
    left: var(--leftpos);
    top: var(--toppos);
    width: 24px;
    height: 24px;
    animation: spin 700ms linear infinite;
    user-select: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.posabs {
    position: absolute;
    left: var(--leftpos);
    top: var(--toppos);
    user-select: none;
}

.posabsw {
    position: absolute;
    left: var(--leftpos);
    top: var(--toppos);
    width: var(--width);
    user-select: none;
}

.posabswh {
    position: absolute;
    left: var(--leftpos);
    top: var(--toppos);
    width: var(--width);
    height: var(--height);
    user-select: none;
}

.bell {
    box-sizing: border-box;
    border-width: var(--borderwidth);
    border-style: solid;
    border-color: var(--color);
    border-radius: 50%;
    position: absolute;
    left: var(--leftpos);
    top: var(--toppos);
    width: var(--diameter);
    height: var(--diameter);
    font-size: var(--fontsize);
    font-weight: bold;
    vertical-align: top;
    text-align: center;
    padding-top: var(--paddingtop);
    user-select: none;
}

.strokelabel {
    font-size: var(--fontsize);
    font-weight: bold;
    color: silver;
    position: absolute;
    left: var(--leftpos);
    top: var(--toppos);
    vertical-align: top;
    user-select: none;
}

.changelabel {
    font-size: var(--fontsize);
    position: absolute;
    left: var(--leftpos);
    top: var(--toppos);
    user-select: none;
}

.rowstartlabel {
    box-sizing: content-box;
    border-left-width: var(--borderwidth);
    border-left-style: dashed;
    border-left-color: silver;
    position: absolute;
    left: var(--leftpos);
    top: var(--toppos);
    width: 0px;
    height: var(--height);
    user-select: none;
}

.boundarylabel {
    box-sizing: border-box;
    border: 3px dotted silver;
    position: absolute;
    left: var(--leftpos);
    top: var(--toppos);
    width: var(--width);
    height: var(--height);
    z-index: -1;
    user-select: none;
}

.boundarylabelinline {
    box-sizing: border-box;
    border-width: 3px;
    border-style: dotted;
    border-color: silver;
    width: var(--width);
    height: var(--height);
    z-index: -1;
    user-select: none;
}

.gaplabel {
    font-size: var(--fontsize);
    background-color: var(--bgcolor);
    position: absolute;
    left: var(--leftpos);
    top: var(--toppos);
    user-select: none;
}

.gapaudiolabel {
    font-size: small;
    position: absolute;
    left: var(--leftpos);
    top: var(--toppos);
    width: 70px;
    height: 45px;
    user-select: none;
}

.audiobar {
    box-sizing: content-box;
    border-top-width: 6px;
    border-top-style: solid;
    border-top-color: silver;
    position: absolute;
    left: var(--leftpos);
    top: var(--toppos);
    width: var(--width);
    height: 0px;
    user-select: none;
}

.audiodotinitial {
    box-sizing: content-box;
    border-radius: 50%;
    position: absolute;
    left: var(--leftpos);
    top: var(--toppos);
    width: 24px;
    height: 24px;
    background-color: gray;
    user-select: none;
}

.audiodotmove {
    box-sizing: content-box;
    border-radius: 50%;
    position: absolute;
    left: var(--leftendpos);
    top: var(--toppos);
    width: 24px;
    height: 24px;
    background-color: #A00000;
    animation-name: slide;
    animation-duration: var(--duration);
    animation-timing-function: linear;
    animation-iteration-count: 1;
    user-select: none;
}

@keyframes slide {
    0% {
        left: var(--leftstartpos)
    }

    100% {
        left: var(--leftendpos)
    }
}
