@page "/Account"

    <div class="ml-3 mt-3">
        <h1>Account</h1>

        <br />

        <p style="max-width: 800px">
            This page will be where users log in and maintain their accounts.
        </p>
    </div>
