@page "/"

<div>
    <h1 style="margin-left: 10px">Striking Investigation</h1>
    <br />

    <h3 style="margin-left: 10px"><i>Draft</i></h3>
    <br />

    <p style="margin-left: 10px;
            max-width: 800px">
        The aim of the project supported by this website is to collect striking data from the method ringing community
        in order to investigate whether there is a general purpose algorithm for measuring how accurately a bell
        has been struck, including, and especially, when the preceding blows have not been evenly struck.
    </p>

    <p style="margin-left: 10px;
            max-width: 800px">
        When striking is very good, it's clear when the next bell should strike. When striking is less good but
        not bad, it may be the case (to be tested in this project) that experienced ringers still agree where the
        next bell should strike.
        Presumably there comes a point where the striking has deteriorated enough that experienced ringers wouldn't
        be sure when the next bell should strike.
        Part of this project is to investigate the striking error level at which this tipping point occurs.
    </p>

    <p style="margin-left: 10px;
            max-width: 800px">
        Current algorithms in use today for measuring striking accuracy, notably the Kalman filter, do not always give
        consistent results for an individual ringer who rings with different bands.
        E.g. a ringer who receives an individual score of 25ms RMSE (root mean square error) when ringing with a
        good band may get a score of 45ms RMSE when ringing with a less capable band.
        But the ringer in question may think that he or she rang equally accurately with both bands.
    </p>

    <p style="margin-left: 10px;
            max-width: 800px">
        It would be valuable for ringer training and developement purposes if there is a striking algorithm that
        gives consisent individual scores that are independent (up to a reasonable level of striking error)
        of the striking ability of the rest of the band.
    </p>

    <br />
    <h2 style="margin-left: 10px">Tests</h2>
    <br />

    <p style="margin-left: 10px;
            max-width: 800px">
        There are three types of test on this website:
    </p>

    <p style="margin-left: 10px;
            max-width: 800px">
        <u>Gap Test:</u> This is the main test for this project.
        The user is played sequences of blows that have striking errors, and the user then specifies when they think
        the last bell should strike.
        The purpose of this test is to determine whether ringers generally agree on when a bell should strike
        when there are earlier striking errors.
    </p>

    <p style="margin-left: 10px;
            max-width: 800px">
        <u>A/B Test:</u> In this test, the same block of rows is played twice, once with striking errors and
        once without.
        The user is asked which block has the errors.
        The purpose of this test is to determine how small a striking error can be detected by ringers.
    </p>

    <p style="margin-left: 10px;
            max-width: 800px">
        <u>A/V Test:</u> In this test, a bell will be heard to strike, and a visual representation of the strike
        will appear on the screen.
        The user adjusts the position of the bell on the screen until they think the audio and visual components
        are occurring at the same time.
        The purpose of this test is to see if ringers respond to audio and visual cues in the same way.
    </p>

    <p style="margin-left: 10px;
            max-width: 800px">
        In all three cases above, there are predefined tests that are selected from a drop-down list.
        After running a test, the user can click a button to submit their response to a central server for
        aggregation and analysis.
        The drop-down list also includes a 'Practice' item; this is to let the user try out a test
        and see how it works.
        Nothing is submitted to the central server when a practice test is selected.
    </p>

    <br />
    <h2 style="margin-left: 10px">Data</h2>
    <br />

    <p style="margin-left: 10px;
            max-width: 800px">
        <u>Submissions:</u> This page show the test results that the user has submitted to the central server.
        <i>
            At present, all submissions are shown. This page will be made user-specific once login functionality
            has been added to this website.
        </i>
    </p>

    <p style="margin-left: 10px;
            max-width: 800px">
        <u>Results:</u> This page will be where results from this striking investigation project will be posted once
        the data has been compiled and analyzed.
    </p>

    <br />
    <h2 style="margin-left: 10px">Admin</h2>
    <br />

    <p style="margin-left: 10px;
            max-width: 800px">
        <u>Account:</u> This page is where users log in and maintain their accounts.
        <i>Not yet implemented.</i>
    </p>

    <p style="margin-left: 10px;
            max-width: 800px">
        <u>Settings:</u> Use this page to adjust test settings.
    </p>

    <p style="margin-left: 10px;
            max-width: 800px">
        <u>Privacy:</u> This page explains how test data submitted to the central server will be used,
        and how users' privacy will be protected.
        <i>Not yet implemented.</i>
    </p>
</div>
