@page "/Privacy"

<div>
    <h1 style="margin-left: 10px">Privacy</h1>

    <br />

    <p style="margin-left: 10px;
            max-width: 800px">
        This page will explain how striking result data submitted to the central server will be used, and how
        the user's privacy will be protected.
    </p>
</div>
