@page "/Privacy"

<div class="ml-3 mt-3">
    <h1>Privacy</h1>

    <br />

    <p style="max-width: 800px">
        This page will explain how striking result data submitted to the central server will be used, and how
        the user's privacy will be protected.
    </p>
</div>
