<div class="boundarylabel" style="--leftpos: @BoundaryLeftPos; --toppos: @BoundaryTopPos;
        --width: @BoundaryWidth; --height: @BoundaryHeight">
</div>

<div class="audiobar" style="--leftpos: @BarLeftPos; --toppos: @BarTopPos; --width: @BarWidth">
</div>

@if (Screen.RunAnimation == true)
{
    <div class="posabs" style="--leftpos: @MsgLeftPos; --toppos: @MsgTopPos">
        <i>Playing...</i>
    </div>
}
else
{
    <div class="posabs" style="--leftpos: @MsgLeftPos; --toppos: @MsgTopPos">
        <i>Ready to play</i>
    </div>
}
