<div class="bell"
        style="--borderwidth: @borderWidthStr;
        --color: @Blow.BellColor;
        --leftpos: @bellLeftPosStr;
        --toppos: @bellTopPosStr;
        --diameter: @diameterStr;
        --fontsize: @bellFontSizeStr;
        --padding: @paddingStr">
    @Blow.Bell
</div>

@if (Screen.ShowGaps == true && Blow.IsTestBell == false)
{
    <div class="gaplabel"
            style="--leftpos: @gapLabelLeftPosStr;
            --toppos: @gapLabelTopPosStr;
            --fontsize: @gapLabelFontSizeStr;
            --bgcolor: @bgColor">
        @gapStr
    </div>
}
