<div class="bell"
        style="--color: @Blow.BellColor;
        --leftpos: @LeftPos;
        --toppos: @TopPos;
        --diameter: @DiameterStr;
        --padding: @Padding">
    @Blow.Bell
</div>
