<div class="bell"
        style="--borderwidth: @borderWidthStr;
        --color: @Blow.BellColor;
        --leftpos: @leftPosStr;
        --toppos: @topPosStr;
        --diameter: @diameterStr;
        --fontsize: @fontSizeStr;
        --padding: @paddingStr">
    @Blow.Bell
</div>
