<div class="gapaudiolabel" style="--leftpos: @LeftPos; --toppos: @TopPos">
    <div>
        Audio gap
    </div>

    <div style="position: absolute; left: 18px">
        @AltGapStr
    </div>
    
</div>
