<div class="posabswh" style="--leftpos: @LeftPos; --toppos: @TopPos; --width: 50px; --height: 38px;
        border: 1px solid black; text-align: center; padding-top: 6px">
    <label>
        @Blow.GapStr
    </label>
</div>
