<div class="posabs" style="--leftpos: @LeftPos; --toppos: @TopPos">
    <button class="btn btn-primary" @onclick="GapMinusClick" style="width: 75px" disabled="@GapDisabled">
        @gapMinusStr
    </button>
</div>
