<div class="topbar navbar">
    <a class="navbar-brand posabs" style="--leftpos: 10px; --toppos: 8px" href="">
        Striking Investigation
    </a>

    <ul class="nav">
        <li class="nav-item">
            <NavLink class="nav-link posabswh"
                     style="--leftpos: 200px; --toppos: 7px; --width: 110px; height: 36px"
                     href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        <li class="nav-item">
            <NavLink class="nav-link posabswh"
                     style="--leftpos: 325px; --toppos: 7px; --width: 125px; height: 36px"
                     href="gaptest" Match="NavLinkMatch.All">
                <span class="oi oi-random" aria-hidden="true"></span> Gap Test
            </NavLink>
        </li>

        <li class="nav-item">
            <NavLink class="nav-link posabswh"
                     style="--leftpos: 465px; --toppos: 7px; --width: 120px; height: 36px"
                     href="abtest" Match="NavLinkMatch.All">
                <span class="oi oi-media-play" aria-hidden="true"></span> A/B Test
            </NavLink>
        </li>

        <li class="nav-item">
            <NavLink class="nav-link posabswh"
                     style="--leftpos: 600px; --toppos: 7px; --width: 120px; height: 36px"
                     href="avtest" Match="NavLinkMatch.All">
                <span class="oi oi-eye" aria-hidden="true"></span> A/V Test
            </NavLink>
        </li>

        <li class="nav-item">
            <NavLink class="nav-link posabswh"
                     style="--leftpos: 735px; --toppos: 7px; --width: 145px; height: 36px"
                     href="submissions" Match="NavLinkMatch.All">
                <span class="oi oi-data-transfer-upload" aria-hidden="true"></span> Submissions
            </NavLink>
        </li>

        <li class="nav-item">
            <NavLink class="nav-link posabswh"
                     style="--leftpos: 895px; --toppos: 7px; --width: 120px; height: 36px"
                     href="privacy" Match="NavLinkMatch.All">
                <span class="oi oi-document" aria-hidden="true"></span> Privacy
            </NavLink>
        </li>

        <li class="nav-item">
            <NavLink class="nav-link posabswh"
                     style="--leftpos: 1030px; --toppos: 7px; --width: 120px; height: 36px"
                     href="account" Match="NavLinkMatch.All">
                <span class="oi oi-account-login" aria-hidden="true"></span> Account
            </NavLink>
        </li>
    </ul>
</div>
