<div class="posabs" style="--leftpos: @LeftPos; --toppos: @TopPos">
    <button class="btn btn-primary" @onclick="PlayClick" style="width: 75px" disabled="@PlayDisabled">
        @PlayLabel
    </button>
</div>
