<div class="posabs" style="--leftpos: @LeftPos; --toppos: @TopPos">
    <button class="btn btn-primary" @onclick="SubmitClick" style="width: 75px" disabled="@SubmitDisabled">
        Submit
    </button>
</div>
